.switch__toggle {
  &::before {
    border: none;
    background: #e8e9e1;
  }

  &::after {
    background: white !important;
  }
}

.switch__input:checked ~ .switch__toggle {
  font-weight: bold;

  &::before {
    background-color: var(--accent-color-primary);
  }
}
